POSTGRES_DB=iron_house_os
POSTGRES_USER=iron_house
POSTGRES_PASSWORD=replace-with-a-long-random-database-password
SECRET_KEY=replace-with-at-least-32-random-characters
IHOS_ADMIN_USERNAME=jeremie
IHOS_ADMIN_PASSWORD=replace-with-a-long-random-login-password
IHOS_PORT=8080
