POSTGRES_DB=iron_house_os
POSTGRES_USER=iron_house
POSTGRES_PASSWORD=replace-with-a-long-random-database-password
SECRET_KEY=replace-with-at-least-32-random-characters
BOOTSTRAP_ADMIN_EMAIL=jeremie@ironhousecivil.com
BOOTSTRAP_ADMIN_PASSWORD=replace-with-a-long-random-login-password
BOOTSTRAP_ADMIN_NAME=Jeremie Peters
SESSION_COOKIE_SECURE=true
IHOS_PORT=8080
